{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="">
            {{ book_data.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Library Expansion</legend>
                <div class="form-group">
                    {{ book_data.bookname.label(class="form-control-label") }}

                    {% if book_data.bookname.errors %}
                        {{ book_data.bookname(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in book_data.bookname.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ book_data.bookname(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ book_data.author.label(class="form-control-label") }}
                    {% if book_data.author.errors %}
                        {{ book_data.author(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in book_data.author.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ book_data.author(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ book_data.book_rent.label(class="form-control-label") }}
                    {% if book_data.book_rent.errors %}
                        {{ book_data.book_rent(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in book_data.book_rent.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ book_data.book_rent(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ book_data.quantity.label(class="form-control-label") }}
                    {% if book_data.quantity.errors %}
                        {{ book_data.quantity(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in book_data.quantity.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ book_data.quantity(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ book_data.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
    <a href="/Increase_Quantity" class="btn btn-sm btn-primary">
        Add an existing book
       </a>
{% endblock content %}