{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="">
            {{ return_data.hidden_tag() }}
                <div class="form-group">
                    {{ return_data.amount_paid.label(class="form-control-label") }}
                    {% if return_data.amount_paid.errors %}
                        {{ return_data.amount_paid(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in return_data.amount_paid.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ return_data.amount_paid(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            <div class="form-group">
                {{ return_data.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
{% endblock content %}